<section class="track">
    <div class="block-track block--dark container">
        <h3>
          Track your shipment 
        </h3>
        <div class="input-group">
            <input class="input" type="text" name="" placeholder="Enter tracking number" id="">
            <button class="btn btn--circle"><img src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt=""></button>
        </div>
        <div class="track__textbody">
            <span class="span--track">
                <h1>
                    Affordable shipping from US to Nigeria.
                </h1>
            </span>
            <span class="span--track span--track__small">
                <h3>
                    Easy package tracking, no Customs duties. We offer timely and stress-free shipping solutions from the USA to Nigeria.   
                </h3>
            </span>
            <button class="btn btn--large btn--secondary" type="submit">Create an account</button>
        </div>
        
    </div>
</section>