<section class="block-showcase">
    <div class="container block">
       <header>
           <h1 class="h1">
                We Make It Easy For You To Ship
           </h1>
       </header> 
       <div class="showcase" >
        <div class="boxA">
            <div class="showcase__media">
               <img class="showcase__image" src="/fakshero/images/icon/track.png" alt="">
               <h3 class="showcase__heading">
                 Track and manage your shipments from anywhere
               </h3>
               <p class="showcase__text">
                   ship and manage your packages effectively. Save time and money when you ship with Heroshe.
               </p>
                   </div>
        </div>
       <div class="boxB">
           <div class="showcase__media" >
            <img class="showcase__image" src="/fakshero/images/icon/sync.png" alt="">
            <h3 class="showcase__heading">
              We keep you in the know with regular update
            </h3>
            <p class="showcase__text">
                Frequent communication on your shipment's status. Consistent updates from  the time we receive your shipment till it gets delivered to you.
            </p>
           </div>
       </div>
       <div class="boxC">
           <div class="showcase__media" >
            <img class="showcase__image" src="/fakshero/images/icon/customer-service.png" alt="">
            <h3 class="showcase__heading">
              Great customer service for when you need help
            </h3>
            <p class="showcase__text">
                Receive help when you need it. Our customer success team will promptly respond to your enquires.
            </p>
                 </div>
       </div>
    </div>
    </div>
</section>