<section class="block-collapsible">
    <div class="block container flex">
        <div>
            <img class="block-collapsible__image" src="/fakshero/images/icon/logo.svg" alt="">
            <p>
             Experience timely, affordable and hassle free shipping from the US
            </p>
        </div>
        <div class="collapsible collapsible--expanded">
         <header class="collapsible__header">
             <h3 class="collapsible__heading">
                 Solutions
             </h3>
             <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
         </header>
         <div class="collapsible__content">
           <ul class="list collapsible__list">
               <li>
                   <a href="">Personal</a>
               </li>
               <li> 
                   <a href="">business</a>
               </li>
               <li>
                   <a href="">Drop Shipping</a>
               </li>
               <li>
                   <a href="">Education</a>
               </li>
           </ul>  
         </div>
        </div>
        <div class="collapsible collapsible--expanded">
         <header class="collapsible__header">
             <h3 class="collapsible__heading">
                 Resources
             </h3>
             <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
         </header>
         <div class="collapsible__content">
           <ul class="list collapsible__list">
               <li>
                   <a href="">Help Center</a>
               </li>
               <li> 
                   <a href="">Blog</a>
               </li>
               <li>
                   <a href="">Pricing</a>
               </li>
           </ul>  
         </div>
        </div>
        <div class="collapsible collapsible--expanded">
         <header class="collapsible__header">
             <h3 class="collapsible__heading">
                 Company
             </h3>
             <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
         </header>
         <div class="collapsible__content">
           <ul class="list collapsible__list">
               <li>
                   <a href="">About Us</a>
               </li>
               <li> 
                   <a href="">Contact Us</a>
               </li>
               <li>
                   <a href="">Press Kit</a>
               </li>
               <li>
                   <a href="">Legal</a>
             </li>
           </ul>  
         </div>
        </div>    
    </div>
    
 </section>