<section class="block-question container block ">
    <div class="question">
        <header>
            <h2 class="h1">
                Frequently Asked Questions
            </h2>
        </header>
           <div class="question__content">
           <div class="collapsible collapsible--expanded">
               <header class="collapsible__header">
                   <h3 class="collapsible__heading">
                       Are there additional or hidden charges?
                   </h3>
                   <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
               </header>
               <div class="collapsible__content">
                 <p class="collapsible__bodytext">
                    There are no additional shipping and clearing charges. But, a delivery charge of $10 applies to all packages. Please see the full <a class="link-none link--secondary" href="">pricing page</a> for more details.
                 </p>
               </div>
           </div>
           <div class="collapsible collapsible--expanded">
                <header class="collapsible__header">
                    <h3 class="collapsible__heading">
                        How to track your shipment?
                    </h3>
                    <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
                </header>
                <div class="collapsible__content">
                    <p class="collapsible__bodytext">
                        Enter your tracking number into the search bar on the <a class="link-none link--secondary" href="">homepage</a> to get the real-time progress of your shipment.
                    </p>
                </div>
            </div>
            <div class="collapsible collapsible--expanded">
                <header class="collapsible__header">
                    <h3 class="collapsible__heading">
                        If i get scammed by someone using the Heroshe warehouse address, can i get my packages back?
                    </h3>
                    <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
                </header>
                <div class="collapsible__content">
                    <p class="collapsible__bodytext">
                        Yes, we can help you get your package back. Just fill <a class="link-none link--secondary" href=""></a>.
                    </p>
                </div>
            </div>
            <div class="collapsible collapsible--expanded">
                <header class="collapsible__header">
                    <h3 class="collapsible__heading">
                       How much does it cost to ship a package to Nigeria?
                    </h3>
                    <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
                </header>
                <div class="collapsible__content">
                    <p class="collapsible__bodytext">
                        We charge as low as $5 per pound for all shipments. Our minimum weight is 1 pound. Fragile items like TV and glass furniture have an optional crating fee. Please see the full <a class="link-none link--secondary" href=""></a> for all the rate details.
                    </p>
                </div>
            </div>
            <div class="collapsible collapsible--expanded">
                <header class="collapsible__header">
                    <h3 class="collapsible__heading">
                         How long does it take to get my package delivered to Nigeria?
                    </h3>
                    <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
                </header>
                <div class="collapsible__content">
                    <p class="collapsible__bodytext">
                        14 - 21 days from the day the package ships out of our US warehouse if there is zero customs delay in Nigeria. The 14 -21 days doesn’t include the time it takes for the US store to deliver the package to our US warehouse. We ship packages every Thursday.
                    </p>
                </div>
            </div>
            <div class="collapsible collapsible--expanded">
                <header class="collapsible__header">
                    <h3 class="collapsible__heading">
                        What is the acceptable mode of payment?
                    </h3>
                    <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
                </header>
                <div class="collapsible__content">
                    <p class="collapsible__bodytext">
                        We accept payment in Naira or US Dollars through bank-to-bank transfers and debit or credit cards. We’re unable to accept cash, and cash on delivery.
                    </p>
                </div>
            </div>
            <div class="collapsible collapsible--expanded">
                <header class="collapsible__header">
                    <h3 class="collapsible__heading">
                        Do i have to pay for delivery in Nigeria?
                    </h3>
                    <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
                </header>
                <div class="collapsible__content">
                    <p class="collapsible__bodytext">
                        Yes, you pay $10 for door-to-door package delivery. Additionally, pick-up is available in our Lagos office.
                    </p>
                </div>
            </div>
           </div>
    </div>  
</section>