<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h3 class="collapsible__heading">
            Are there additional or hidden charges?
        </h3>
        <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
    </header>
    <div class="collapsible__content">
      <p class="collapsible__bodytext">
         There are no additional shipping and clearing charges. But, a delivery charge of $10 applies to all packages. Please see the full <a class="link-none link--secondary" href="">pricing page</a> for more details.
      </p>  
    </div>
</div> 
<script src="/fakshero/js/main.js"></script>