<footer>
    <section class="block-collapsible">
        <div class="block container flex">
            <div>
                <img class="block-collapsible__image" src="/fakshero/images/icon/logo.svg" alt="">
                <p>
                 Experience timely, affordable and hassle free shipping from the US
                </p>
            </div>
            <div class="collapsible collapsible--expanded">
             <header class="collapsible__header">
                 <h3 class="collapsible__heading">
                     Solutions
                 </h3>
                 <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
             </header>
             <div class="collapsible__content">
               <ul class="list collapsible__list">
                   <li>
                       <a href="">Personal</a>
                   </li>
                   <li> 
                       <a href="">business</a>
                   </li>
                   <li>
                       <a href="">Drop Shipping</a>
                   </li>
                   <li>
                       <a href="">Education</a>
                   </li>
               </ul>  
             </div>
            </div>
            <div class="collapsible collapsible--expanded">
             <header class="collapsible__header">
                 <h3 class="collapsible__heading">
                     Resources
                 </h3>
                 <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
             </header>
             <div class="collapsible__content">
               <ul class="list collapsible__list">
                   <li>
                       <a href="">Help Center</a>
                   </li>
                   <li> 
                       <a href="">Blog</a>
                   </li>
                   <li>
                       <a href="">Pricing</a>
                   </li>
               </ul>  
             </div>
            </div>
            <div class="collapsible collapsible--expanded">
             <header class="collapsible__header">
                 <h3 class="collapsible__heading">
                     Company
                 </h3>
                 <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
             </header>
             <div class="collapsible__content">
               <ul class="list collapsible__list">
                   <li>
                       <a href="">About Us</a>
                   </li>
                   <li> 
                       <a href="">Contact Us</a>
                   </li>
                   <li>
                       <a href="">Press Kit</a>
                   </li>
                   <li>
                       <a href="">Legal</a>
                 </li>
               </ul>  
             </div>
            </div>    
        </div>
        
     </section>
    <section class="block-currency">
        <div class="container block-currency__block block-currency__flex">
            <div class="flex block-currency__header">
                <h3>
                    Choose a currency:
                </h3>
                <span>
                    <h2>
                       USD
                    </h2>
                    <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
                </span>
            </div>
            <div class="flex block-currency__icon">
                <div class="icon-container icon--small-container">
                    <img class="icon" src="/fakshero/images/icon/linkedin.png" alt="">
                </div>
                <div class="icon-container icon--small-container">
                    <img class="icon" src="/fakshero/images/icon/facebook.png" alt="">
                </div>
                <div class="icon-container icon--small-container">
                    <img class="icon" src="/fakshero/images/icon/twitter.png" alt="">
                </div>
                <div class="icon-container icon--small-container">
                    <img class="icon" src="/fakshero/images/icon/youtube.png" alt="">
                </div>
                <div class="icon-container icon--small-container">
                    <img class="icon" src="/fakshero/images/icon/instagram-logo.png" alt="">
                </div>
            </div>
        </div>
        <div class="flex sectiona container seen">
            <a class="link-none" href="">Terms of service</a>
            <a class="link-none" href="">Privacy Policy</a>
        </div>
    </section>
    <section class="footer block-currency__block">
        <div class="container">
            <div class="footer__div">
                <div class="footer__flex">
                    <p>&copy; 2022 Heroshe - All rights reserved</p>
                </div>
                <div class="footer__hidden">
                    <a class="link-none" href="">Terms of service</a>
                    <a class="link-none" href="">Privacy Policy</a>
                </div>
            </div>
        </div>
    </section>
</footer>