<nav class="nav">
    <div class="block-nav container navigation">
        <a class="nav__brand" href=""><img src="/fakshero/images/icon/logo.svg" alt="company logo"></a>
        <ul class="list nav__list">
         <li class="nav__item">
             <a class="link-none nav__link" href="">
                 Solutions<img class="nav__arrow collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt=""></a>
         </li>
         <li class="nav__item"><a class="link-none nav__link" href="">Pricing</a></li>
         <li class="nav__item"><a class="link-none nav__link" href="">About us</a></li>
         <li class="nav__item"><a class="link-none nav__link" href="">Contact</a></li>
         <li class="nav__item"><a class="link-none nav__link" href="">Resources<img class="nav__arrow collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt=""></a></li>
        </ul>
        <div class="btn__nav">
            <button class="btn btn--nav btn--small" type="submit">Login</button>
            <button class="btn btn--small btn--secondary" type="submit">Create an account</button>
        </div>
        <img class="icon--small nav__toggler" src="/fakshero/images/icon/menu.png" alt="">
    </div>
</nav>