<div class="price">
    <div class="weight__input">
        <input class="weight-number" type="number" name="" id="" placeholder="Weight of your Shipment in pounds">
    </div>
    <div class="weight__flex">
        <p class="weight__detail">Price of shipping 1 lbs</p>
        <p class="weight__detail">$5</p>
    </div>
    <p class="weight__delivery">Delivery Options</p>
    <div class="weight__flex">
        <label for="price" class="radio">
            <input class="radio__input" type="radio" name="pick" id="price">
            <div class="weight__radio"></div>
            <span class="weight__detail mg-2">Home Delivery</span>
        </label>
        <p class="weight__detail mg-2">$10</p>
    </div>
    <div class="weight__flex">
        <label for="kick" class="radio">
            <input class="radio__input" type="radio" name="pick" id="kick">
            <div class="weight__radio"></div>
            <span class="weight__detail mg-2">Lagos Pickup</span>
        </label>
        <p class="weight__detail mg-2">$0</p>
    </div>
    <p class="weight__delivery">Total to pay</p>
    <div class="total">
        <input class="total__input" type="text" name="" id="" placeholder="$0">
    </div>
</div>