<div class="ship">
    <div class="ship__media collapsible collapsible--expanded">
        <header class="collapsible__header">
            <div class="ship__flex">
                <img class="icon--small ship__image" src="/fakshero/images/icon/building.png" alt="">
                <h3 class="ship__heading" >
                    Use Heroshe address
                 </h3>
            </div>
            <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
        </header>
        <div class="collapsible__content">
            <p class="collapsible__bodytext">
                Get your valid US address when you sign up with Heroshe. Use it as your delivery address at checkout or have your packages sent there by loved ones
            </p>
          </div>
    </div>
    <div class="ship__media collapsible collapsible--expanded">
        <header class="collapsible__header">
            <div class="ship__flex">
                <img class="icon--small ship__image" src="/fakshero/images/icon/building.png" alt="">
                <h3 class="ship__heading" >
                    Track your shipments
                 </h3>
            </div>
            <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
        </header>
        <div class="collapsible__content">
            <p class="collapsible__bodytext">
                Track your shipment from the US till it arrives in Nigeria on your mobile phone or the web
            </p>
          </div>
    </div>
    <div class="ship__media collapsible collapsible--expanded">
        <header class="collapsible__header">
            <div class="ship__flex">
                <img class="icon--small ship__image" src="/fakshero/images/icon/building.png" alt="">
                <h3 class="ship__heading" >
                    Deliver anywhere you choose
                 </h3>
            </div>
            <img class="collapsible__chevron icon" src="/fakshero/images/icon/angle-arrow-pointing-to-right.png" alt="">
        </header>
        <div class="collapsible__content">
            <p class="collapsible__bodytext">
                Pay to have your shipments delivered anywhere in Nigeria or pick them up for free in our Lagos office
            </p>
          </div>
    </div>
</div>
 <script src="/fakshero/js/main.js"></script>