:root {
    --color-primary: #000000;
    --color-secondary: #008ca9;
    --color-accent: #f1c34e;
    --color-body: #918ca4;
}
*, *::before, *::after {
    box-sizing: border-box;
}
/* topograghy */
html {
    font-size: 62.5%;
}
body {
    color: var(--color-body);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
    font-weight: 600;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
p {
    margin-top: 0;
}

/* links */

a {
    cursor: pointer;
}
.link-none {
    text-decoration: none;
}
.link--primary {
    color: var(--color-primary);
}

.link--secondary {
    color: var(--color-secondary);
}
.link--accent {
    color: var(--color-accent);
}

/* list */
.list {
    list-style-type: none;
    padding-left: 0;
}

/* icon */
.icon {
    width: 25px;
    height: 25px;
    margin: 2px;
}
.icon--big {
    width: 40px;
    height: 40px;
}
.icon--small {
    width: 30px;
    height: 35px;
}

.icon-container {    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    padding: 3px;
    
}
.icon--big-container {
    width: 55px;
    height: 55px;
    transition: opacity 0.3s;
}

.icon--big-container:hover {
    opacity: 0.5;
}

.icon--small-container {
    width: 40px;
    height: 40px;
    transition: all 0.3s;
}
.icon--small-container:hover {
    background-color: var(--color-accent);
    transform: scale(1.2);
}

/* button */
.btn {
    cursor: pointer;
    outline: 0;
    border: 0;
    font-weight: bold;
}

.btn--small {
    padding: 1.2rem 1.7rem;
    border-radius: 0.2rem;
}
.btn--large {
    padding: 1.6rem 4.5rem;
    border-radius: 0.2rem;
}
.btn--stretched {
    width: 100%;
}
.btn--nav {
    background: inherit;
}
.btn--circle {
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f7c974;
    padding: 1rem;
    border-radius: 100%;
    transition: all 0.3s;
}
.btn--circle:hover {
    background-color: var(--color-accent);
}
.btn--circle img {
    width: 1.5rem;
    height: 1.5rem;
}
.btn--secondary:hover {
    background-color: #f7c974;
} 
.btn--secondary {
    background-color: var(--color-accent);
    transition: 0.3s;
}

/* input */

.input {
    border: 0;
    outline: 0;
    width: 0;
    flex-grow: 1;
    
}
.input-group {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    background: #fff;
}

@media screen and (min-width: 640px) {
    .input {
        width: 18rem;
    }
    .input-group {
        max-width: 40rem;
    }
    
}

/* quote and testimonial*/
.quote {
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 2rem 0 0 0;
    color: var(--color-primary);
}
.media__profile {
    display: flex;
}
.image__profile {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    margin-right: 1.5rem;
}

.testimonial__story {
    margin-top: 4.5rem;
    color: var(--color-primary);
    font-weight: normal;
    font-size: 1.8rem;
}

.quote__author {
    color: var(--color-primary);
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 3rem;
}
.image__loading {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 3rem;
}
.media__footer {
    display: flex;
    justify-content: space-between;
}
.testimonial {
    padding: 1.5rem;
    border-radius: 10px;
    background-color: rgb(238, 235, 235);
}
@media screen and (min-width: 768px) {
    .quote p {
        font-size: 2.5rem;
    }    
}
@media screen and (max-width: 1024px) {
    .image__profile {
        width: 4rem;
        height: 4rem;
    }
    .quote__author {
        margin-top: 0;
    }
    .image__loading {
        margin-top: 0;
    }

}
@media screen and (min-width: 1024px) {
    .quote {
        margin: 4rem 0 0 0;
    }
    .media__footer {
        margin-left: 11.5rem;
    }
    .testimonial__story {
        margin-left: 11.5rem;
    }
    .testimonial {
        padding-top: 6rem;
        padding-right: 8rem;
        padding-left: 8rem;
    }
}
@media screen and (max-width: 768px) {
    .quote__author {
        font-size: 1.7rem;
    }
    .quote__organization {
        font-size: 1.3rem;
    }
    .testimonial__story {
        font-size: 1.5rem;
    }
    
}
@media screen and (max-width: 870px) {
    .testimonial__card {
        margin-left: 1.5rem;
    }
}

/* weight */
.weight-number {
    width: 100%;
    outline: 0;
    border: 0;
    line-height: 2;
}

.weight-number::placeholder {
    font-weight: 600;
    font-size: 1.8rem;
    padding-left: 1rem;
}
.weight__input {
    padding: 2rem 0;
    border-bottom: 1px solid var(--color-accent);
}

.weight__flex {
    display: flex;
    justify-content: space-between;
}
.weight__detail {
    color: var(--color-primary);
    font-weight: bold;
    margin: 3rem 0;
    font-size: 1.6rem;
}
.mg-2 {
    margin: 2rem 0;
}
.weight__delivery {
    margin-top: 1.5rem;
}
.radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.radio__input {
    display: none;
}

.weight__radio {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--color-body);
    border-radius: 50%;
    margin-right: 1.5rem;
    padding: 0.4rem;
    transition: border-color 0.3s;
}
.weight__radio:hover {
    border-color: var(--color-primary);
}
.weight__radio::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    background: var(--color-accent);
    transform: scale(0);
    transition: transform 0.3s;
}

.radio__input:checked + .weight__radio::after {
    transform: scale(1);
}

.total__input {
    border: 0;
    background-color: rgb(243, 243, 243);
}
.total__input, .total__input::placeholder {
    font-size: 2.5rem;
}
.total ::placeholder {
    color: var(--color-primary);
    font-weight: bold;
    overflow: visible;
}
.total {
    padding: 2rem;
    background-color: rgb(243, 243, 243);
    border-radius: 3px;
    margin-top: 3rem;
}
.price {
    padding: 2.5rem;
    border-radius: 10px;
    background: #fff;
}

/* showcase */
.showcase__image {
    width: 10rem;
    height: 10rem;
    margin: 0;
}
.showcase__text {
    line-height: 1.7;
}

.showcase__heading {
    line-height: 1.7;
    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: 600;
}
.showcase__media {
    width: 30rem;
    margin-bottom: 3rem;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}

@media screen and (max-width: 640px) {
    .showcase {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
        .boxA,
        .boxB {
            flex-grow: 1;
        }

}
@media screen and (min-width: 1025px) {
    .boxA,
    .boxB,
    .boxC {
        flex-grow: 1;
    }
}

/* card */

.card {
    width: 100%;
    padding: 2.0rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    overflow: hidden;
    height: min-content;
    transition: all 0.3s;
    background: #fff;
}
.card:hover {
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
}
.card:hover .card__link{
    color: #008ca9;
}

.card__image {
    width: 100%;
    height: 20rem;
    object-fit: cover;

}
.card__heading {
    color: var(--color-primary);
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__bodytext {
    line-height: 1.8;
    font-size: 1.35rem;
    margin-bottom: 3rem;
}
.card__link {
    font-weight: bold;
}

.cardbox {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    .cardbox {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1025px) {
    .cardbox {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* collapsible */
.collapsible--expanded,
.collapsible {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.collapsible__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 0rem;
    cursor: pointer;
}
.collapsible__heading {
    font-weight: 500;
    color: var(--color-primary);
    margin: 0;
    font-size: 1.7rem;
}
.collapsible__bodytext {
    font-size: 1.3rem;
    line-height: 1.5;
}
.collapsible__chevron {
    width: 1rem;
    height: 1rem;
    transform: rotate(90deg);
    transition: all 0.3s;
}
.collapsible__content {
    display: none;
}
.collapsible--expanded .collapsible__content {
    display: block;
}
.collapsible--expanded .collapsible__chevron {
    transform: rotate(270deg);
}
@media screen and (min-width: 768px) {
    .collapsible__bodytext {
        font-size: 1.7rem;
    }
    .collapsible__header {
        justify-content: flex-start;
    }
    .collapsible__chevron {
        margin-left: 2rem;
    }
    
}

/* question */

.question h2 {
    color: var(--color-primary);
}
/* ship */
.ship {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ship__image {
    margin-right: 1.5rem;
}
.ship__media header {
    padding: 0;
}
.ship__media .collapsible__chevron {
    margin-top: 1.5rem;
}
.ship__media .collapsible__bodytext {
    margin-left: 4.5rem;
    margin-bottom: 0;
    margin-right: 9rem;
}
.ship__flex {
    display: flex;
}
.ship__heading {
    color: var(--color-primary);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.ship__bodytext {
    line-height: 1.5;
}

.ship__media {
    border: 0;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    background: #fff;
}

@media screen and (min-width: 768px) {
    .ship__media .collapsible__header {
        justify-content: space-between;
    }
    .ship__media .collapsible__bodytext {
        font-size: 1.3rem;
    }
}


/*block*/
.block {
    --padding-vertical: 4.5rem;
    padding: var(--padding-vertical) 1.6rem;
    }
    

    .block--dark h1,
    .block--dark h2,
    .block--dark h3 {
        color: #fff;
        font-weight: 600;
    }

   .container {
       max-width: 1045px;
       margin: 0 auto;
     }


/*navigation*/
.nav {
    background: lightgray;
}
.navigation {
    display: flex;
    justify-content: space-between;
    background: lightgray;
    align-items: center;
}

.nav__list {
    display: flex;  
}
.nav__arrow {
    margin-left: 1rem;
}
.nav__item {
    display: inline-flex;
    margin-right: 2rem;
}
.nav__item>a {
    color: var(--color-primary);
    font-weight: bold;
}

.nav__brand {
    transform: translateY(2px);
    
}
.block-nav {
    padding: 0.5rem 1.6rem 0.5rem 0;
}

@media screen and (max-width: 1024px) {
    .btn__nav {
        display: none;
    }
    .nav__list {
        display: none;
    }
}
@media screen and (min-width: 1025px) {
    .nav__toggler {
        display: none;
    }
}

/* block-track */

.track {
    background: url(/fakshero/images/picture/bg.jpg);
    background-size: cover;
}
.track__textbody {
    margin: 1rem 0 2.5rem 0;
}
.block-track {
    padding: 2.5rem 1.6rem;
}
.block-track h3 {
    margin: 0.5rem 0 1rem 0;
    font-size: 1.4rem;
    line-height: 1.7;
}
.block-track h1 {
    font-size: 3rem;
    font-weight: 500;
}
.span--track {
    width: 30rem; 
    display: block; 
    margin: 3rem 0 4rem 0;  
}
.track .btn {
    font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
    .block-track {
        padding: 4.5rem 1.6rem 4.5rem 1.6rem;
    }
    .track__textbody {
        margin: 6rem 0 8.5rem 0;
    }
    .span--track {
        width: 52rem;
    }
    .span--track__small {
        width: 45rem;
    }
    .block-track h1 {
        font-size: 4rem;
        font-weight: 500;
    }
}

/* block-icon */
.block-icon {
    background: rgb(250, 241, 243);
}
.block-icon p {
    font-weight: 600;
    line-height: 1.6;
    color: var(--color-primary);
}
.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.scroll__content img {
    width: 50px;
    height: 50px;
}
.scroll__content {
    display: flex;
    width: 17rem;
    height: 8rem;
}
.scroll__content h3 {
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-weight: normal;
    font-size: 1.7rem;
}
.scroll {
    display: flex;
    justify-content: center;
    margin: 6rem 0 2rem 0;
}
@media screen and (max-width: 640px) {
    .icon-none {
        display: none;
    }
    
}
@media screen and (max-width: 1024px) {
    .scroll {
        display: none;
    }
}

/* block-ship */

.block-ship {
    background: rgb(250, 241, 243);
}

.h1 {
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--color-primary);
    letter-spacing: 2px;
    width: 75%;
    line-height: 1.5;
}
.ship__grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 5rem;
    margin-top: 5rem;
}
.block-ship__image {
    width: 100%;
    display: none;
    margin-top: 3rem;
    height: min-content;
}

@media screen and (min-width: 768px) {
    .h1 {
        font-size: 3.5rem;
    }
}
@media screen and (min-width: 1024px) {
    .ship__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .block-ship__image {
        display: block;
    }
    .ship__grid {
        margin-bottom: 3rem;
    }
}

/* block-testimonial */

.block-testimonial h1 {
    width: 100%;
}
.block-showcase .testimonial {
    margin-top: 4rem;
    margin-bottom: 2rem;
}
@media screen and (min-width: 640px) {
    .block-showcase .testimonial {
        margin-bottom: 6rem;
    }  
}

/* block-question */
.question__content .collapsible:last-child {
    border: 0;
}

/* block-cardbox */

.cardbox__h1 {
    color: var(--color-primary);
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 3rem;
}
.block-cardbox {
    background: var(--color-accent);
}
.cardbox__link {
    display: inline;
}
.cardbox__link:hover {
    text-decoration: underline;
    color: #51a6c2;
}
.cardbox__link-container {
    margin-top: 2rem;
}
.cardblock__flex {
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
}

.header-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
@media screen and (min-width: 641px) {
    .hidden {
        display: inline-block;
    }
    .block-cardbox__heading {
        flex-grow: 1;
    }
    .visible {
        display: none;
    }
}

/* block-price */

.block-price {
    background: #044c5a;
}
.block-price__header h3 {
    color: var(--color-accent);
    font-size: 1.5rem;
    margin-top: 0;    
}
.block-price__header {
    max-width: 40rem;
}
.block-price .flex {
    flex-direction: column;
    gap: 3rem;
}
.block-price__header h1 {
    color: #fff;
    font-size: 3rem;
    max-width: 30rem;
}
.block-price__footer h3 {
    color: #fff;
    font-size: 1.5rem;
}
.block-price__footer p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 3rem;
}
.block-price__footer a {
    color: var(--color-accent);
    margin-left: 2rem;
}
.unseen {
    display: none;
}
@media screen and (min-width: 1024px) {
    .block-price .flex {
        flex-direction: row;
    }
    .unseen {
        display: block;
    }
    .seen {
        display: none;
    }
    .price {
        width: 50rem;
    }
    .block-price__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .block-price__header h1 {
        margin-top: 0;
    }
    .block-price .flex {
        gap: 0;
        margin-top: 0;
    }
    .block-price__footer p {
        margin-bottom: 5rem;
    }
    .block-price .block {
        padding: 8rem 1.6rem;
    }
}

/* block-collapsible */

.block-collapsible {
    background: rgb(139, 108, 108);
}
.block-collapsible__image {
    width: 3orem;
}
.block-collapsible p {
    max-width: 30rem;
    line-height: 1.5;
    color: var(--color-primary);
}
.block-collapsible .collapsible__header {
    padding: 1.5rem 0;
    justify-content: space-between;
}
.block-collapsible .collapsible {
    border-bottom: 0;
}
.collapsible__list {
    margin: 0;
    padding-left: 1.5rem;
}
.collapsible__list li {
    margin-bottom: 2rem;
}
.collapsible__list a {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}
.collapsible__list a:hover {
    color: var(--color-secondary);
}

.block-collapsible .flex {
    flex-direction: column;
}
@media screen and (min-width: 1024px) {
    .block-collapsible .flex {
        flex-direction: row;
    }
    .block-collapsible .collapsible__chevron {
        display: none;
    }
    .block-collapsible .collapsible__content {
        display: inline-block;
    }
}

/* block-currency */
.block-currency__icon {
    justify-content: space-around;
}
.block-currency h3 {
    font-size: 1.3rem;
    color: var(--color-primary);
}
.block-currency h2 {
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--color-primary);
}
.block-currency span {
    display: flex;
}
.block-currency .collapsible__chevron {
    position: relative;
    top: 15px;
    margin-left: 5px;
}
.block-currency__flex {
    display: flex;
    flex-direction: column;
}
.block-currency__block {
    padding: 0 1.6rem;
}
@media screen and (min-width: 1024px) {
    
    .block-currency__header {
        order: 2;
    }
    .block-currency__flex {
        flex-direction: row;
        justify-content: space-between;
    }
    .block-currency__icon {
        width: 100%;
        max-width: 40rem;
        justify-content: space-between;
    }
    .block-currency h3 {
        margin-right: 1rem;
    }
    .block-currency__block {
        padding: 0 0.3rem;
    }
    
}
/* footer */

.sectiona {
    padding: 2.5rem 0;
    justify-content: space-around;
    width: 100%;
}
.sectiona a, .footer__flex p, .footer__hidden a {
    color: var(--color-primary);
    font-size: 1.3rem;
    transition: opacity 0.3s;
}
.sectiona a:hover, .footer__hidden a:hover {
    opacity: 0.7;
}
.footer__div {
    display: flex;
    margin: 3rem 0;
    width: 100%;
}
.footer__flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.footer {
    border-top: 1px solid rgb(202, 195, 195, 0.4);
    width: 100%;
}
.footer__hidden {
    display: none;
}
@media screen and (min-width: 1024px) {
    .footer__flex p {
        margin: 0;
    }
    .footer__flex {
        justify-content: flex-start;
    }
    .footer__hidden {
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
        max-width: 20rem;
        justify-content: space-between;
    }
}